@charset "utf-8";

.pc {display:block;}
.pc_1600 {display:none;}
.pc_1200 {display:none;}
.pop_1200 {display:none;}
.wrap {width:clamp(120rem, 100%, 192rem); margin:0 auto;}

/* header */
.header {width:100%; height:12.8rem;}
.header_inner {display:flex; justify-content:space-between;}
.logo {width:21.2rem; height:12.8rem; background:url(../images/a_sub/logo.png) no-repeat center / contain;}
.header_nav {display:block; width:46.2rem; height:12.8rem; margin-right:4rem; background:url(../images/a_sub/nav.png) no-repeat center / contain;}

/* container */
.container {display:flex;}

/* aside_section  */
.aside_section {width:36rem;  padding:0 4rem;}
.aside_top_wrap {width:100%; height:6.4rem; background:url(../images/a_sub/aside_top.png) no-repeat left top / contain;}

/* main_section */
.main_section {width:calc(100% - 48.8rem); padding-right:4rem; background-color:#0077EB;}

@media screen and (max-width:1600px) {
    .pc {display:none;}
    .pc_1600 {display:block;}
    .pop_1600 {display:block;}

    /* aside_section */

    /* main_section */
    .main_section {width:calc(100% - 20.2rem);}
}

@media screen and (max-width:1200px) {
    .pop_1600 {display:none;}
    .pop_1200 {display:block;}

    /* aside_section */

    /* main_section */
    .main_section {width:calc(100% - 21.5rem); padding-right:4rem; background-color:#0077EB;}
}
