@charset "utf-8";

.pc {display:block;}
.pc_1600 {display:none;}
.pc_1200 {display:none;}
.pop_1200 {display:none;}
.wrap {width:clamp(120rem, 100%, 192rem); margin:0 auto;}

/* header */
.header {position:fixed; top:0; left:0; right:0; width:clamp(120rem, 100%, 192rem); height:12.8rem; background-color:#fff; z-index:9999;}
.header_inner {display:flex; justify-content:space-between;}
.logo {width:21.2rem; height:12.8rem; background:url(../images/a_sub/logo.png) no-repeat center / contain;}
.header_nav {display:block; width:46.2rem; height:12.8rem; margin-right:4rem; background:url(../images/a_sub/nav.png) no-repeat center / contain;}

/* container */
.container {display:flex; position:relative; padding-top:12.8rem;}

/* aside_section  */
.aside_section {position:absolute; top:12.8rem; left:0; bottom:0; width:calc(100vw*360/var(--vw)); padding:0 4rem 12.8rem; overflow-y:auto;}
.aside_section::-webkit-scrollbar {display:none;}
.aside_top_wrap {width:100%; height:6.4rem; background:url(../images/a_sub/aside_top.png) no-repeat left top / contain;}

/* accordion */
.acco_wrap {border-top:1px solid #E8EBF0;}
.acco_wrap + .acco_wrap {margin-top:-1px;}
.acco_wrap .acco_head {position:relative; width:100%; padding:2.4rem 0; border-bottom:1px solid #E8EBF0; color:#000; font-size:1.6rem; font-weight:bold; line-height:2rem; text-align:left;}
.acco_wrap .acco_head::after {content:''; display:block; position:absolute; top:2.4rem; right:0; width:2rem; height:2rem; background:url(../images/a_sub/btn_acco.png) no-repeat center / contain; transition:all 0.2s;}
.acco_wrap.active .acco_head::after {transform:rotate(180deg); transition:all 0.2s;}
.acco_wrap .acco_cont {height:0; overflow:hidden; transition:all 0.2s;}
.acco_wrap.active .acco_cont {height:auto; padding:3.2rem 0; border-bottom:1px solid #E8EBF0; transition:all 0.2s;}
.acco_wrap .acco_cont > img {width:100%;}

/* checkbox */
.check_tit {color:#0077EB; font-size:1.6rem; font-weight:600;}
.check_tit ~ .check_tit {margin-top:2.8rem;}
.check_tit + .check_wrap {margin-top:2.4rem;}
.check_wrap {display:flex; flex-wrap:wrap;}
.check_wrap.col2 .check_item {flex: 0 0 50%;}
.check_wrap.row {flex-direction:column; margin-top:-1rem; margin-bottom:-1.6rem;}
.check_wrap.row .check_item label {padding:1.6rem 0;}
.check_sub_wrap li {padding-left:0;}
.check_sub_wrap .sub {display:none;}
.check_sub_wrap .sub li {padding-left:2rem;}
.check_item {flex:0 0 calc(100% / 3);}
.check_item input {position:absolute; width:0; height:0; margin:0; font-size:0; text-indent:-9999%; overflow:hidden;}
.check_item label {position:relative; display:block; padding:1.2rem 0; cursor:pointer;}
.check_item .label {position:relative; display:inline-block; padding-left:3.2rem; color:#000; font-size:1.6rem; line-height:2rem;}
.check_item .label::before {content:''; display:block; position:absolute; left:0; top:0; width:2rem; height:2rem; border:1px solid #bbb; border-radius:0.4rem; box-sizing:border-box;}
.check_item input:checked + .label {font-weight:600;}
.check_item input:checked + .label::before {border:0; background:#007AFF url(../images/a_sub/ico_check.svg) no-repeat center / 1.2rem;}
.check_item.icon label {padding-right:4.4rem;}
.check_item label .icon {display:block; position:absolute; top:0.6rem; right:0; width:4rem; height:4rem;}
.check_item label .icon.icon_all {background:url(../images/a_sub/icon_all.png) no-repeat center / contain;}
.check_item label .icon.icon_etc {background:url(../images/a_sub/icon_etc.png) no-repeat center / contain;}
.check_item label .icon.icon_car01 {background:url(../images/a_sub/car01.png) no-repeat center / contain;}
.check_item label .icon.icon_car02 {background:url(../images/a_sub/car02.png) no-repeat center / contain;}
.check_item label .icon.icon_car03 {background:url(../images/a_sub/car03.png) no-repeat center / contain;}
.check_item label .icon.icon_car04 {background:url(../images/a_sub/car04.png) no-repeat center / contain;}
.check_item label .icon.icon_car05 {background:url(../images/a_sub/car05.png) no-repeat center / contain;}
.check_item label .icon.icon_car06 {background:url(../images/a_sub/car06.png) no-repeat center / contain;}
.check_item label .icon.icon_car07 {background:url(../images/a_sub/car07.png) no-repeat center / contain;}
.check_item label .icon.icon_car08 {background:url(../images/a_sub/car08.png) no-repeat center / contain;}
.check_item label .icon.icon_car09 {background:url(../images/a_sub/car09.png) no-repeat center / contain;}
.check_item label .icon.icon_car10 {background:url(../images/a_sub/car10.png) no-repeat center / contain;}

/* select */
.select_tit {display:block; margin-bottom:0.8rem; color:#999; font-size:1.4rem; line-height:1;}
.select {position:relative;}
.select_tit ~.select_tit {margin-top:2rem;}
.select::after {content:''; display:block; position:absolute; top:50%; right:2rem; transform:translateY(-50%); width:1.4rem; height:1.4rem; background:url(../images/a_sub/icon_select.png) no-repeat center / contain;}
.select select {display:block; width:100%; padding:1.5rem 2.3rem; border:1px solid #000; border-radius:0.4rem; color:#000; font-size:1.6rem; line-height:1; appearance:none; cursor:pointer;}

/* main_section */
.main_section {position:relative; width:calc(100% - calc(100vw*360/var(--vw))); height:calc(100vh - 12.8rem); margin-left:calc(100vw*360/var(--vw)); margin-right:4rem;}
.main_box {position:absolute; top:0; bottom:0; width:calc(100vw*740/var(--vw)); padding-bottom:12.8rem; overflow-y:auto;}
.main_box::-webkit-scrollbar {display:none;}
.main_box:nth-of-type(1) {left:0;}
.main_box:nth-of-type(2) {right:0; margin-left:4rem;}
.main_box > img {width:100%;}
.car_list li {display:flex; gap:2rem; padding:3.2rem 4rem; padding:calc(100vw*32/var(--vw)) calc(100vw*40/var(--vw)); background-color:#F7F8FC;}
.car_list li .card {width:100%; height:calc(100vw*112/var(--vw));}
.car_list li:nth-child(4n+1) .card {background:url(../images/a_sub/card_01.png) no-repeat center / contain;}
.car_list li:nth-child(4n+1):hover .card {background:url(../images/a_sub/card_01_hover.png) no-repeat center / contain;}
.car_list li:nth-child(4n+2) .card {background:url(../images/a_sub/card_02.png) no-repeat center / contain;}
.car_list li:nth-child(4n+2):hover .card {background:url(../images/a_sub/card_02_hover.png) no-repeat center / contain;}
.car_list li:nth-child(4n+3) .card {background:url(../images/a_sub/card_03.png) no-repeat center / contain;}
.car_list li:nth-child(4n+3):hover .card {background:url(../images/a_sub/card_03_hover.png) no-repeat center / contain;}
.car_list li:nth-child(4n+4) .card {background:url(../images/a_sub/card_04.png) no-repeat center / contain;}
.car_list li:nth-child(4n+4):hover .card {background:url(../images/a_sub/card_04_hover.png) no-repeat center / contain;}
.car_list li + li {position:relative;}
.car_list li + li::before {content:''; display:block; position:absolute; left:4rem; right:4rem; top:0; height:1px; border-top:1px solid #EAEAEA;}
.car_list li:hover::before {display:none;}
.car_list li:hover {background-color:#0077EB; transition:all 0.2s;}
/* .car_list .thumb_area {width:20rem; height:11.2rem;}
.car_list .thumb_area > img {display:block; width:100%;}
.car_list .info_area {width:calc(100% - 22rem); padding:0.2rem 0 0.7rem;}
.car_list .info_area .row {display:flex; justify-content:space-between;}
.car_list .info_area .row:nth-of-type(1) {align-items:center; flex-wrap:wrap;}
.car_list .info_area .row:nth-of-type(2) {align-items:flex-end; margin-top:1.2rem;}
.car_list li:nth-child(4n+1) .badge {display:block; width:367.47px; height:20px; background:url(../images/a_sub/badge01.png) no-repeat left top / contain;}
.car_list li:hover:nth-child(4n+1) .badge {display:block; width:367.47px; height:20px; background:url(../images/a_sub/badge01_hover.png) no-repeat left top / contain;}
.car_list li:nth-child(4n+2) .badge {display:block; width:357.47px; height:20px; background:url(../images/a_sub/badge02.png) no-repeat left top / contain;}
.car_list li:hover:nth-child(4n+2) .badge {display:block; width:357.47px; height:20px; background:url(../images/a_sub/badge02_hover.png) no-repeat left top / contain;}
.car_list li:nth-child(4n+3) .badge {display:block; width:380.47px; height:20px; background:url(../images/a_sub/badge03.png) no-repeat left top / contain;}
.car_list li:hover:nth-child(4n+3) .badge {display:block; width:380.47px; height:20px; background:url(../images/a_sub/badge03_hover.png) no-repeat left top / contain;}
.car_list li:nth-child(4n+4) .badge {display:block; width:310px; height:20px; background:url(../images/a_sub/badge04.png) no-repeat left top / contain;}
.car_list li:hover:nth-child(4n+4) .badge {display:block; width:380.47px; height:20px; background:url(../images/a_sub/badge04_hover.png) no-repeat left top / contain;}
.car_list .heart {display:block; width:24px; height:24px; background:url(../images/a_sub/heart.png) no-repeat center / contain;}
.car_list li:hover .heart {display:block; width:24px; height:24px; background:url(../images/a_sub/heart_hover.png) no-repeat center / contain;}
.car_list .info {display:block; width:232px; height:66px; background:url(../images/a_sub/info.png) no-repeat center / contain;}
.car_list li:hover .info {display:block; width:232px; height:66px; background:url(../images/a_sub/info_hover.png) no-repeat center / contain;}
.car_list .price {display:block; width:122px; height:42px; background:url(../images/a_sub/price.png) no-repeat center / contain;}
.car_list li:hover .price {display:block; width:122px; height:42px; background:url(../images/a_sub/price_hover.png) no-repeat center / contain;} */

.car_slide {margin-top:2rem; cursor:pointer;}
.car_slide .swiper-slide {border-radius:1.2rem; overflow:hidden;}
.car_slide .swiper-slide > img {display:block; width:100%;}
.car_slide .btn_wrap {position:absolute; right:2rem; bottom:2rem; width:calc(100vw*162/var(--vw)); height:calc(100vw*40/var(--vw))}
.car_slide .btn_wrap > img {display:block; width:100%;}
.car_slide2 {margin-top:0.2rem; padding-bottom:5.6rem; border-bottom:1px solid #E8EBF0; cursor:pointer;}
.car_slide2 .swiper-wrapper {flex-wrap:wrap; width:calc(100% + 0.4rem); margin-left:-0.2rem;}
.car_slide2 .swiper-slide {width:calc(10% - 0.4rem); margin:0.2rem; border-radius:0.8rem; overflow:hidden; opacity:0.3;}
.car_slide2 .swiper-slide-thumb-active {opacity:1;}
.car_slide2 .swiper-slide > img {display:block; width:100%;}

.btm_fixed_wrap {position:fixed; bottom:0; left:0; right:0; max-width:192rem; margin:0 auto; padding:2rem;}
.bottom_section {display:flex; gap:0.8rem; width:calc(100vw*780/var(--vw)); margin-left:auto; padding:1.6rem 4rem; border-radius:2rem; background-color:#fff; box-shadow:0 0.5rem 2rem rgba(0,0,0,0.15); z-index:999;}
.bottom_section .item {display:flex; align-items:center; gap:1rem;}
.bottom_section .item_tit {color:#666; font-size:1.4rem; line-height:2rem; white-space:nowrap;}
.bottom_section .item_txt {color:#000; font-size:2rem; font-weight:600; line-height:1; white-space:nowrap;}
.bottom_section .input_item {display:flex; align-items:center; gap:1rem; flex:auto; min-width:40%; margin-left:1rem;}
.input_item .input_tit {color:#666; font-size:1.4rem; line-height:2rem; white-space:nowrap;}
.input_item input {width:clamp(10rem, 85%, 28rem); padding:1.5rem 2.3rem; border:1px solid #000; border-radius:0.4rem; color:#000; font-size:1.6rem; line-height:1;}
.input_item input::placeholder {color:#999;}
.btn_primary {width:clamp(10rem, 30%, 20.7rem); border-radius:0.4rem; background-color:#007AFF; color:#fff; font-size:1.4rem; font-weight:bold; line-height:4.8rem;}

@media screen and (max-width:1600px) {
    .pc {display:none;}
    .pc_1600 {display:block;}
    .pop_1600 {display:block;}

    /* aside_section */
    .aside_section {width:calc(100vw*304/1600); padding:0 calc(100vw*20/1600) 0 calc(100vw*40/1600);}
    .check_item {flex:0 0 50%;}
    .check_wrap.col2 .check_item {flex:0 0 100%;}

    /* main_section */
    .main_section {width:calc(100% - calc(100vw*304/1600)); margin-left:calc(100vw*304/1600);}
    .main_box {width:calc(100vw*618/1600);}
    .main_box:nth-of-type(2) {margin-left:calc(100vw*20/1600);}
    .car_list li {padding:calc(100vw*30/1600) calc(100vw*18/1600);}
    .car_list li .card {width:100%; height:calc(100vw*112/1600);}
    .car_list li:nth-child(4n+1) .card {background:url(../images/a_sub/card_01_1600.png) no-repeat center / contain;}
    .car_list li:nth-child(4n+1):hover .card {background:url(../images/a_sub/card_01_1600_hover.png) no-repeat center / contain;}
    .car_list li:nth-child(4n+2) .card {background:url(../images/a_sub/card_02_1600.png) no-repeat center / contain;}
    .car_list li:nth-child(4n+2):hover .card {background:url(../images/a_sub/card_02_1600_hover.png) no-repeat center / contain;}
    .car_list li:nth-child(4n+3) .card {background:url(../images/a_sub/card_03_1600.png) no-repeat center / contain;}
    .car_list li:nth-child(4n+3):hover .card {background:url(../images/a_sub/card_03_1600_hover.png) no-repeat center / contain;}
    .car_list li:nth-child(4n+4) .card {background:url(../images/a_sub/card_04_1600.png) no-repeat center / contain;}
    .car_list li:nth-child(4n+4):hover .card {background:url(../images/a_sub/card_04_1600_hover.png) no-repeat center / contain;}

    .car_list li + li::before {left:2rem; right:1.8rem;}
    /* .car_list .thumb_area {width:35%;}
    .car_list .info_area {width:calc(65% - 2rem);padding:0.5rem 0 0.7rem;}
    .car_list .badge {display:block; width:287px!important; height:20px; background:url(../images/a_sub/badge_1600.png) no-repeat left top / contain!important;}
    .car_list li:hover .badge {display:block; width:287px!important; height:20px; background:url(../images/a_sub/badge_1600.png) no-repeat left top / contain!important;} */

    .car_slide2 {margin-top:0.4rem; padding-bottom:5.4rem; border:0;}
    .car_slide2 .swiper-wrapper {width:calc(100% + 0.6rem); margin-left:-0.3rem;}
    .car_slide2 .swiper-slide {width:calc((100% / 8) - 0.6rem); margin:0.3rem;}

    .btm_fixed_wrap {padding:3rem;}
    .bottom_section {width:calc(100vw*640/1600); padding:calc(100vw*16/1600) calc(100vw*40/1600);}
    .bottom_section .item_tit {font-size:calc(100vw*14/1600); line-height:1.5;}
    .bottom_section .item_txt {font-size:calc(100vw*20/1600);}
    .input_item .input_tit {font-size:calc(100vw*14/1600); line-height:1.5;}
    .input_item input {width:clamp(10rem, 85%, calc(100vw*280/1600)); padding:calc(100vw*15/1600) calc(100vw*23/1600); font-size:calc(100vw*16/1600);}
    .btn_primary {width:clamp(10rem, 30%, calc(100vw*207/1600)); font-size:calc(100vw*14/1600); font-weight:bold; line-height:calc(100vw*48/1600)}
}

@media screen and (max-width:1200px) {
    .pc_1600 {display:none;}
    .pc_1200 {display:block;}
    .pop_1600 {display:none;}
    .pop_1200 {display:block;}

    /* aside_section */
    .aside_section {display:none;}

    /* main_section */
    .main_section {width:100%; margin-left:4rem;}
    .main_box:nth-of-type(1) {width:34rem;}
    .main_box:nth-of-type(2) {width:74rem; margin-left:4rem;}

    .car_slide2 {margin-top:0.2rem;padding-bottom:5.6rem; border-bottom:1px solid #E8EBF0;}
    .car_slide2 .swiper-wrapper {width:calc(100% + 0.4rem); margin-left:-0.2rem;}
    .car_slide2 .swiper-slide {width:calc(10% - 0.4rem); margin:0.2rem;}

    .btm_fixed_wrap {padding:2rem;}
    .bottom_section {width:calc(100vw*780/1200); padding:1.6rem 4rem;}
    .bottom_section .item_tit {font-size:1.4rem; line-height:2rem;}
    .bottom_section .item_txt {font-size:2rem; line-height:1;}
    .input_item .input_tit {font-size:1.4rem; line-height:2rem;}
    .input_item input {width:clamp(10rem, 85%, 28rem); padding:1.5rem 2.3rem; font-size:1.6rem;}
    .btn_primary {width:clamp(10rem, 30%, 20.7rem); font-size:1.4rem; line-height:4.8rem;}
}
