@charset "utf-8";
@import url('https://webfontworld.github.io/pretendard/Pretendard.css');

/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-family: 'Pretendard';
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	font-size:10px;
}
body {
	line-height: 1;
	font-family: 'Pretendard';
	font-size:1.6rem;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a, a:visited, a:hover, a:active{
	color:inherit;
	text-decoration: none;
}
input, textarea, select, button, a{
	font-family: 'Pretendard';
	outline:none;
	box-sizing: border-box;
}

button {cursor:pointer; background:none; border:0 none;}

::-webkit-scrollbar{width:5px}
::-webkit-scrollbar-thumb{height:30%;background:rgba(0,0,0,.4);border-radius:10px}
::-webkit-scrollbar-track{background:rgba(33,122,244,.03)}

.blind{position:absolute; left:-9999px; top:-9999px; width:1px; height:1px; text-indent: -9999px; overflow:hidden;}